<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <uses-permission android:name="android.permission.RECEIVE_SMS" />
<uses-permission android:name="android.permission.READ_SMS" />
   <uses-permission android:name="android.permission.INTERNET" />


   <application
    android:allowBackup="true"
    android:label="LocalShield"
    android:icon="@mipmap/julias_icon"
    android:roundIcon="@mipmap/julias_icon"
    android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
      <receiver 
    android:name=".sms.SmsFilterReceiver"
    android:exported="true"
    android:permission="android.permission.BROADCAST_SMS">
    <intent-filter android:priority="999">
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
    </intent-filter>
</receiver>

 <!-- Das neue High-End Dashboard als Start-Bildschirm -->
        <activity 
            android:name=".ui.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Die alte MainActivity läuft im Hintergrund weiter -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </activity>
</application>

</manifest> 
